.App {
  text-align: center;
  height: 90vh;
  margin: 2%;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 5px;
  color: white;
  position: relative;
  top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  height: 100vw;
  width: 100%;
  position: relative;
  right: 0;

}

.wrap {
  height: 90%;
  width: 98%;
  display: inline-grid;
  grid-template-columns: 30% 70%;
}

.sidebar {
  width: 25%;
  height: 80%;
  overflow: visible;
}
