.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 5px;
  color: white;
  position: relative;
  top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  height: 50vw;
  width: 100%;
  overflow: visible !important;
  position: relative;
}

.wrap {
  height: calc(100vh- 60px);
}

.sidebar {
  width: 30%;
  height: 80%;
  overflow: visible;
}
