.App {
  text-align: center;
  margin: 2%;
  height: 90%;
}

.App, body, p, li {
  font-family: Verdana, Geneva, sans-serif;
}




.App-header {
  background-color: green;
  height: 10%;
  padding: 0px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 10% 90%;
}

.button {
  background-color: white;
  margin: 6px 0;
  height: 5px;
  width: 40px;
}

.MenuButton {
  padding: 15px;
  background-color: green;
  border: 0;
}

.App-title {
  font-size: 24px;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

#map {
  position: relative;
  flex: 1;

}

.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
}

h2 {
  font-size: 16px;
  color: green;
}

li {
  font-size: 14px;
  width: 100%;
}

ul.list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;

}

input {
  border-color: green;
  border-width: 1px;
  text-align: center;
}

.listItem {
  text-align: left;
  padding: 10px 5px 10px 15px;
  width: 280px;
  display: flex;
}

.listItem:hover {
  background-color: #a1f442;
  cursor: pointer;

}

footer {
  background-color: green;
  height: 10%;
  padding: 0px;
  color: white;
  position: relative;
  padding-top: 5px;
  width: 100%;

}

.foursquare {
  height: 10px;
}

img.foursquareSvg {
  max-height: 8px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
